.content {

}

@media (min-width: 768px) {
  .speakers .row {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (max-width: 767px) {
  .mobile-padding {
    padding-top: 140px;
  }
}

#organizers.section {
  &:not(:last-child) {
    padding-bottom: 0;
  }
}
