@media (min-width: 992px) {
  .programm {
    display: flex;
    justify-content: space-evenly;

    li {
      width: 33%;

      &:first-child {
        border-right: 1px solid #333;
      }

      &:last-child {
        border-left: 1px solid #333;
      }
    }
  }
}

@media (max-width: 991px) {
  .programm {

    li {
      border-bottom: 1px solid #555;
      padding-bottom: 30px;

      &:last-child {
        border: none;
        padding-bottom: 0;
      }
    }
  }
}