@media (min-width: 768px) {
  .nav.nav-schedule {
    border: none;

    &:after,
    &:before {
      display: none;
    }

    > li {
      width: 33%;
      background-color: #262627 !important;
      border: none;

      &:after {
        display: none;
      }

      &:first-child {
        border-right: 1px solid #333;
      }

      &:last-child {
        border-left: 1px solid #333;
      }
    }
  }

  .schedule-heading {
    margin-bottom: 80px;
  }
}

@media (max-width: 767px) {
  .nav, .nav.nav-tabs, .nav.nav-schedule, .schedule .tab-content .nav.nav-schedule, .tabs-vertical .nav.nav-tabs {
    background: none;
    position: static;
    padding: 0;
    margin: 0;
    max-height: none;
    display: block;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
    
    a {
      text-align: center !important;
    }

    p {
      color: white !important;
    }
  }

  .schedule-heading {
    margin-bottom: 30px;
  }

  .schedule {
    margin-bottom: 20px;
    background: none;
  }
}