.btn-session {
  margin-top: 30px;
}

@media (min-width: 768px) {
  #navigation7 > ul {
    margin-bottom: 0;

    & > li {
      margin-bottom: 0;
    }
  }
}

@media (max-width: 767px) {
  .dropdown-menu {
    display: block !important;
    background: white !important;

    a {
      color: #262627 !important;
    }
  }

  .dropdown:not(.open):hover .dropdown-menu {

  }
}
