.btn-session {
  margin-top: 30px;
}

#navigation {
  height: 100px;
  overflow: hidden;
}

@media (max-width: 767px) {
  .dropdown-menu {
    display: block !important;
    background: white !important;

    a {
      color: #262627 !important;
    }
  }

  .dropdown:not(.open):hover .dropdown-menu {

  }
}
